@charset "UTF-8";
/** Holberton Practice Styles
 * ------ Places
 */

.container .places {
	width: 100%;
	position: relative;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: stretch;
	z-index: 1;
}

.container .places article {
	width: 390px;
	padding: 20px 20px;
	margin: 20px 20px;
	box-shadow: 7px 7px 15px rgba(55, 84, 170, .15),
              -7px -7px 20px rgba(255, 255, 255, 1),
              0px 0px 4px rgba(255, 255, 255, .2);
	border-radius: 8px;
	position: relative;
	display: flex;
	flex-direction: column;
}

/**
 * ------ HEADERS
 */

.container .places h1 {
	width: 100%;
	font-size: 30px;
	margin: 30px 0 0 10px;
	text-shadow: 2px 2px 4px rgba(0,0,0,.3), -2px -2px 4px rgba(255,255,255,1)
}

.container .places .title {
	display: flex;
	flex-direction: row;
}

.container .places h2 {
	font-size: 30px;
	flex-grow: 1;
	margin: 10px 0 30px 0;
	text-align: center;
	text-shadow: 2px 2px 4px rgba(0,0,0,.3), -2px -2px 4px rgba(255,255,255,1)
}

.container .places .price_by_night {
	border-radius: 50%;
	min-width: 60px;
	height: 60px;
	font-size: 30px;
	text-align: center;
	line-height: 60px;
	box-shadow: inset 7px 7px 15px rgba(55, 84, 170, .15), inset -7px -7px 20px rgba(255, 255, 255, 1), inset 0px 0px 4px rgba(255, 255, 255, .2);

}

.container .places .information {
	height: 80px;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.container .places .information .max_guest,
.container .places .information .number_rooms,
.container .places .information .number_bathrooms {
	width: 100px;
	padding: 10px 0 0 0;
	background-repeat: no-repeat;
	background-position: center 5px;
	text-align: center;
	line-height: 34px;
}

.container .places .user {
	margin: 20px 0 5px 0;
}

@media screen and (max-width: 600px) {

	.container .places .information {
		height: auto;
	}

	.container .places .price_by_night {
		border: 2px solid #FF5A5F;
		min-width: 40px;
		height: 40px;
		font-size: 20px;
		top: 3px;
		right: 3px;
		text-align: center;
		line-height: 42px;
	}
}
